In [76]:
import pandas as pd

In [77]:
from IPython.core.display import display, HTML
display(HTML("<style>.container {width:100% !important;}</style>"))

In [78]:
invoices = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/invoices.csv')

In [79]:
invoices.head()

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False

In [80]:
invoices.describe()

         Meal Price
count  50017.000000
mean     403.256713
std      234.128913
min        6.000000
25%      204.000000
50%      398.000000
75%      593.000000
max     1065.000000

In [81]:
invoices.dtypes

Order Id              object
Date                  object
Meal Id               object
Company Id            object
Date of Meal          object
Participants          object
Meal Price           float64
Type of Meal          object
Heroes Adjustment       bool
dtype: object

In [82]:
#Convert pandas data types
#Convert to date and category types
invoices['Date'] = invoices['Date'].astype('datetime64')
invoices['Type of Meal'] = invoices['Type of Meal'].astype('category')
invoices['Meal Price'] = invoices['Meal Price'].astype('int64')
invoices['Date of Meal'] = invoices['Date of Meal'].astype('datetime64')
# invoices['Meal Price'] = invoices
invoices.dtypes

ValueError: ignored

In [83]:
invoices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50017 entries, 0 to 50016
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Order Id           50017 non-null  object
 1   Date               50017 non-null  datetime64[ns]
 2   Meal Id            50017 non-null  object
 3   Company Id         50017 non-null  object
 4   Date of Meal       50017 non-null  object
 5   Participants       50017 non-null  object
 6   Meal Price         50017 non-null  int64
 7   Type of Meal       50017 non-null  category
 8   Heroes Adjustment  50017 non-null  bool
dtypes: bool(1), category(1), datetime64[ns](1), int64(1), object(5)
memory usage: 2.8+ MB

In [84]:
#Number of rows and columns
invoices.shape

(50017, 9)

In [85]:
#Number of rows
len(invoices)

50017

In [86]:
#Number of columns
len(invoices.columns)

9

In [87]:
#Show the datatype which is numerical in invoices table
invoices.select_dtypes(include = 'number').head()

   Meal Price
0         469
1          22
2         314
3         438
4         690

In [88]:
invoices.select_dtypes(include = 'category').head()

  Type of Meal
0    Breakfast
1       Dinner
2        Lunch
3       Dinner
4        Lunch

In [89]:
#Convert helper functions, like pd.to_numeric or pd.to_datetime
#There are three pd.to_functions
#pd.to_numeric()
#pd.to_datetime()
#pd.to_timedelta()

#Handling using pd.to_numeric()

In [90]:
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                    int64
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [91]:
invoices.loc[45612,'Meal Price'] = 'I am here'
invoices.loc[45620,'Meal Price'] = 'Me too'

In [92]:
invoices.dtypes

Order Id                     object
Date                 datetime64[ns]
Meal Id                      object
Company Id                   object
Date of Meal                 object
Participants                 object
Meal Price                   object
Type of Meal               category
Heroes Adjustment              bool
dtype: object

In [93]:
#Get value counts
#2 string and 5015 integer value
invoices['Meal Price'].apply(lambda x:type(x)).value_counts()

<class 'int'>    50015
<class 'str'>        2
Name: Meal Price, dtype: int64

In [94]:
#To see which instances are string
invoices['Meal Price'][invoices['Meal Price'].apply(lambda x:isinstance(x, str))]

45612    I am here
45620       Me too
Name: Meal Price, dtype: object

In [95]:
#Convert string cases to numeric
invoices['Meal Price'] = pd.to_numeric(invoices['Meal Price'], errors = 'coerce')
#Shows two nan cases
invoices1 = invoices[invoices['Meal Price'].isnull()]
invoices1

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
45612,SJA1F92KXWZDH398,2017-02-26,OOW0UEXQY5RMPPZ8,ICNGUMLKEB27T1P3,2017-03-02 20:00:00+01:00,['Betty Stroud'],NaN,Dinner,False
45620,2DKPL6A229CN4WH3,2014-05-22,JH8G8O5LQEUF7U3W,OJKDXPQQXYUOGGJB,2014-05-20 20:00:00+02:00,['Alex Ellis' 'Angela Aguirre'],NaN,Dinner,False

In [97]:
#Shows two NaN cases
invoices1

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
45612,SJA1F92KXWZDH398,2017-02-26,OOW0UEXQY5RMPPZ8,ICNGUMLKEB27T1P3,2017-03-02 20:00:00+01:00,['Betty Stroud'],NaN,Dinner,False
45620,2DKPL6A229CN4WH3,2014-05-22,JH8G8O5LQEUF7U3W,OJKDXPQQXYUOGGJB,2014-05-20 20:00:00+02:00,['Alex Ellis' 'Angela Aguirre'],NaN,Dinner,False

In [99]:
#Fill the NaN values
#Input the values
invoices['Meal Price']=invoices['Meal Price'].fillna(invoices['Meal Price'].median())
#convert to int
invoices['Meal Price'].astype(int)

0        469
1         22
2        314
3        438
4        690
        ...
50012      9
50013     25
50014    160
50015    497
50016    365
Name: Meal Price, Length: 50017, dtype: int64

In [100]:
#Handling pd.to_datetime()
#What underscore time does
print(pd.to_datetime('2019-8-1'))
print(pd.to_datetime('Aug, 1 2019'))
print(pd.to_datetime('20190108'))

2019-08-01 00:00:00
2019-08-01 00:00:00
2019-01-08 00:00:00

In [101]:
#Convert date to specific format
pd.to_datetime('20190108', format = '%Y%d%m')

Timestamp('2019-08-01 00:00:00')

In [102]:
pd.to_datetime('yonn 20190108', format = '%Y%d%m', exact = False)

Timestamp('2019-08-01 00:00:00')

In [103]:
#Useful accessor methods for certain data types
#Convert to date
invoices['Date'].dt.date

0        2016-05-27
1        2018-09-27
2        2014-08-24
3        2014-04-12
4        2015-07-28
            ...
50012    2017-09-20
50013    2018-03-19
50014    2017-09-21
50015    2018-01-28
50016    2017-09-06
Name: Date, Length: 50017, dtype: object

In [105]:
#Convert to Year
invoices['Date'].dt.year

0        2016
1        2018
2        2014
3        2014
4        2015
         ...
50012    2017
50013    2018
50014    2017
50015    2018
50016    2017
Name: Date, Length: 50017, dtype: int64

In [106]:
#Convert to day
invoices['Date'].dt.day

0        27
1        27
2        24
3        12
4        28
         ..
50012    20
50013    19
50014    21
50015    28
50016     6
Name: Date, Length: 50017, dtype: int64

In [108]:
#is_leap_year, is_month_start, is_month_end, is_quarter_start, is_quarter_end, is_year_start, is_year_end returns True or False

In [110]:
invoices[invoices['Date'].dt.is_month_start]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
143,OXX1WA2USIYH69SU,2018-09-01,FX68L7JKDE58ZKS1,PQ79N68UEQ9FFCPU,2018-09-02 14:00:00+02:00,['Monica Espinoza' 'Ann Vitt'],124.0,Lunch,False
217,X546I8JFNVJFE7FH,2017-10-01,G2UDNGRTBYGIS90Z,MR6NETSKD2PSN54L,2017-09-26 07:00:00+02:00,['Martin Riley' 'Jane Bruce' 'Rosa Parramore'],409.0,Breakfast,False
223,2UDNOCM41XE38JXR,2014-10-01,4RRVQGEPPDEDYPIZ,MR6NETSKD2PSN54L,2014-10-01 08:00:00+02:00,['Martin Riley' 'Earl Sorrentino'],311.0,Breakfast,False
239,SS6TLV5CW0888BC4,2015-12-01,RZK62CIZ31ZJ5B0K,PYAQ341Y4240ACP4,2015-11-29 12:00:00+01:00,['Ron Pignone'],253.0,Lunch,False
265,ASDP640M48CTNWCV,2016-02-01,0FBMPOWAQ9SQHOIS,4VVOCC6ELGQAOZ7T,2016-02-02 07:00:00+01:00,['Edward Young' 'Clifford Hardman' 'David Leun...,111.0,Breakfast,False
...,...,...,...,...,...,...,...,...,...
49903,6OGZBDGSOO1BIHC9,2014-09-01,5DO61RK0BX3Y3Y4C,PLGXGQY1FMR95OBC,2014-08-29 14:00:00+02:00,['Theodore Garrison'],101.0,Lunch,False
49914,8F0VTBD1UBIT8IWL,2017-12-01,2FSMDV5KMJ0USX4H,8YOY0UK6SVPKGWDV,2017-11-28 21:00:00+01:00,['Justin East' 'Hortense Strauss'],610.0,Dinner,False
49931,P3D63IBCXDVSBMGE,2017-09-01,CY5W155NLXY6V9CU,DNAC0XNVYCD3J62R,2017-09-05 09:00:00+02:00,['Robyn Price'],459.0,Breakfast,False
49960,HIHM2Y93IZTCLXZZ,2017-01-01,18JH0E28KFW0BZ7O,41AQ4K1NC4FVCGKJ,2017-01-02 14:00:00+01:00,['Samuel Blum' 'Kenneth Desilva'],593.0,Lunch,False
49999,JOPTZ9VYV1RWPTW7,2018-02-01,I5EXQPTV5PK8PC3C,5K17HYJQ6JG6UFU0,2018-01-29 13:00:00+01:00,['Arleen Williams'],563.0,Lunch,False

In [111]:
invoices['Date'].dt.to_pydatetime()

array([datetime.datetime(2016, 5, 27, 0, 0),
       datetime.datetime(2018, 9, 27, 0, 0),
       datetime.datetime(2014, 8, 24, 0, 0), ...,
       datetime.datetime(2017, 9, 21, 0, 0),
       datetime.datetime(2018, 1, 28, 0, 0),
       datetime.datetime(2017, 9, 6, 0, 0)], dtype=object)

In [113]:
invoices['Date'].dt.to_period('Q')

0        2016Q2
1        2018Q3
2        2014Q3
3        2014Q2
4        2015Q3
          ...
50012    2017Q3
50013    2018Q1
50014    2017Q3
50015    2018Q1
50016    2017Q3
Name: Date, Length: 50017, dtype: period[Q-DEC]

In [ ]:
#lower()/upper()/title() to manage capitalization of strings

In [114]:
invoices['Type of Meal'].str.upper()

0        BREAKFAST
1           DINNER
2            LUNCH
3           DINNER
4            LUNCH
           ...
50012    BREAKFAST
50013    BREAKFAST
50014       DINNER
50015       DINNER
50016        LUNCH
Name: Type of Meal, Length: 50017, dtype: object

In [119]:
#startswith(), endswith(), contains() checks for the presence of a substring
invoices[invoices['Type of Meal'].str.endswith('ast')]

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
7,FM608JK1N01BPUQN,2014-05-08,E8WJZ1FOSKZD2MJN,36MFTZOYMTAJP1RK,2014-05-07 09:00:00+02:00,['Amanda Knowles' 'Cheryl Feaster' 'Ginger Hoa...,320.0,Breakfast,False
11,8RIGCF74GUEQHQEE,2018-07-23,5XK0KTFTD6OAP9ZP,36MFTZOYMTAJP1RK,2018-07-27 08:00:00+02:00,['Amanda Knowles'],210.0,Breakfast,False
12,TH60C9D8TPYS7DGG,2016-12-15,KDSMP2VJ22HNEPYF,36MFTZOYMTAJP1RK,2016-12-13 08:00:00+01:00,['Cheryl Feaster' 'Bret Adams' 'Ginger Hoagland'],755.0,Breakfast,False
17,KNF3E3QTOQ22J269,2018-06-20,737T2U7604ABDFDF,36MFTZOYMTAJP1RK,2018-06-15 07:00:00+02:00,['Glenn Gould' 'Cheryl Feaster' 'Ginger Hoagla...,475.0,Breakfast,False
...,...,...,...,...,...,...,...,...,...
50008,UHIE76EGIC2KFP34,2016-08-06,BFLY4LHHUI5OIREM,FC1LJXHNH2883N3Y,2016-08-08 08:00:00+02:00,['Jerry Nelson'],164.0,Breakfast,False
50009,FWH3N8N5ARW53BE6,2016-03-17,WHVI4J3J388I8I4B,FC1LJXHNH2883N3Y,2016-03-12 09:00:00+01:00,['Jon Ponce' 'Alice Allen'],523.0,Breakfast,False
50011,81J2RM0YM63VAT0K,2018-06-03,HNXSJZQ120WGAWZP,E4K99D4JR9E40VE1,2018-06-03 07:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],598.0,Breakfast,False
50012,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],9.0,Breakfast,False
50013,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False

In [121]:
#Accessor-cat
invoices['Type of Meal'].cat.categories

Index(['Breakfast', 'Dinner', 'Lunch'], dtype='object')

In [122]:
#Codes for quick version of the category into a numerical representation
invoices['Type of Meal'].cat.codes

0        0
1        1
2        2
3        1
4        2
        ..
50012    0
50013    0
50014    1
50015    1
50016    2
Length: 50017, dtype: int8

In [125]:
#Reorder_categories to change the existing order of the categories
invoices['Type of Meal'].cat.reorder_categories(['Lunch','Breakfast','Dinner'])

0        Breakfast
1           Dinner
2            Lunch
3           Dinner
4            Lunch
           ...
50012    Breakfast
50013    Breakfast
50014       Dinner
50015       Dinner
50016        Lunch
Name: Type of Meal, Length: 50017, dtype: category
Categories (3, object): ['Lunch', 'Breakfast', 'Dinner']

In [126]:
#How to combine data frames
invoices['Date'].dt.year.value_counts().sort_index()

2014    10069
2015    10039
2016     9857
2017     9937
2018    10115
Name: Date, dtype: int64

In [129]:
#Make separate dataframes
y_2014 = invoices[invoices['Date'].dt.year == 2014].copy()
y_2015 = invoices[invoices['Date'].dt.year == 2015].copy()
y_2016 = invoices[invoices['Date'].dt.year == 2016].copy()
y_2017 = invoices[invoices['Date'].dt.year == 2017].copy()
y_2018 = invoices[invoices['Date'].dt.year == 2018].copy()

In [130]:
y_2014

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
5,AT0R4DFYYAFOC88Q,2014-07-21,W48JPR1UYWJ18NC6,LJKS5NK6788CYMUU,2014-07-17 20:00:00+02:00,['David Bishop' 'Susan Guerrero' 'Karen Stanse...,181.0,Dinner,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 21:00:00+02:00,['Susan Guerrero' 'David Bishop'],14.0,Dinner,False
7,FM608JK1N01BPUQN,2014-05-08,E8WJZ1FOSKZD2MJN,36MFTZOYMTAJP1RK,2014-05-07 09:00:00+02:00,['Amanda Knowles' 'Cheryl Feaster' 'Ginger Hoa...,320.0,Breakfast,False
...,...,...,...,...,...,...,...,...,...
49986,9MOC2GFU2U1SNK80,2014-07-31,UBAU33ZLAEFFOUD8,R0KV9HJ7RIRRYSVG,2014-07-29 14:00:00+02:00,['Antonio Brown' 'Ashley Owens'],520.0,Lunch,False
49995,604MDASEGE0ZGF1Q,2014-09-19,Z6THNAPHU8C5YOXS,5K17HYJQ6JG6UFU0,2014-09-22 20:00:00+02:00,['Billy Britton' 'Arleen Williams' 'Michelle L...,288.0,Dinner,False
49996,F381FAZM804NBR5N,2014-05-28,BM67YPFBIK2AGA9J,5K17HYJQ6JG6UFU0,2014-05-30 21:00:00+02:00,['Michelle Lachiatto' 'Billy Britton' 'Chris L...,143.0,Dinner,False
50006,82U9R1VU6L5A0GVL,2014-04-08,O6KTCUNU8SV5RWQ5,FC1LJXHNH2883N3Y,2014-04-08 14:00:00+02:00,['Jerry Nelson' 'Jon Ponce'],470.0,Lunch,False
50007,DSQ3L26W4J1HH2DL,2014-05-11,24E54CJ06WBF66KK,FC1LJXHNH2883N3Y,2014-05-08 20:00:00+02:00,['Jerry Nelson' 'Alice Allen'],410.0,Dinner,False

In [131]:
#Combine invoices together
pd.concat([y_2014,y_2015,y_2016,y_2017,y_2018])

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
5,AT0R4DFYYAFOC88Q,2014-07-21,W48JPR1UYWJ18NC6,LJKS5NK6788CYMUU,2014-07-17 20:00:00+02:00,['David Bishop' 'Susan Guerrero' 'Karen Stanse...,181.0,Dinner,False
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 21:00:00+02:00,['Susan Guerrero' 'David Bishop'],14.0,Dinner,False
7,FM608JK1N01BPUQN,2014-05-08,E8WJZ1FOSKZD2MJN,36MFTZOYMTAJP1RK,2014-05-07 09:00:00+02:00,['Amanda Knowles' 'Cheryl Feaster' 'Ginger Hoa...,320.0,Breakfast,False
...,...,...,...,...,...,...,...,...,...
49991,CGPOTR0XW6FDEQQ1,2018-12-24,8K07A0E1NNRYG9OG,5K17HYJQ6JG6UFU0,2018-12-24 07:00:00+01:00,['Michelle Lachiatto'],640.0,Breakfast,False
49999,JOPTZ9VYV1RWPTW7,2018-02-01,I5EXQPTV5PK8PC3C,5K17HYJQ6JG6UFU0,2018-01-29 13:00:00+01:00,['Arleen Williams'],563.0,Lunch,False
50011,81J2RM0YM63VAT0K,2018-06-03,HNXSJZQ120WGAWZP,E4K99D4JR9E40VE1,2018-06-03 07:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],598.0,Breakfast,False
50013,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False
50015,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497.0,Dinner,False

In [136]:
#Vertical stacking
#Combining data frames
#Naming columns of columns that are joined
pd.concat([y_2014,y_2015,y_2016,y_2017,y_2018], keys = [14,15,16,17,18], names = ['year','original index'])

                             Order Id       Date           Meal Id  \
year original index
14   2               041ORQM5OIHTIU6L 2014-08-24  E4UJLQNCI16UX5CS
     3               YT796QI18WNGZ7ZJ 2014-04-12  C9SDFHF7553BE247
     5               AT0R4DFYYAFOC88Q 2014-07-21  W48JPR1UYWJ18NC6
     6               2DDN2LHS7G85GKPQ 2014-04-29  1MKLAKBOE3SP7YUL
     7               FM608JK1N01BPUQN 2014-05-08  E8WJZ1FOSKZD2MJN
...                               ...        ...               ...
18   49991           CGPOTR0XW6FDEQQ1 2018-12-24  8K07A0E1NNRYG9OG
     49999           JOPTZ9VYV1RWPTW7 2018-02-01  I5EXQPTV5PK8PC3C
     50011           81J2RM0YM63VAT0K 2018-06-03  HNXSJZQ120WGAWZP
     50013           RR0VKJN8V0KHNKGG 2018-03-19  22EX9VZSJKHP4AIP
     50015           QHEUIYNC0XQX7GDR 2018-01-28  4U0VH2TGQL30X23X

                           Company Id               Date of Meal  \
year original index
14   2               LJKS5NK6788CYMUU  2014-08-23 14:00:00+02:00
     3               LJKS5NK6788CYMUU  2014-04-07 21:00:00+02:00
     5               LJKS5NK6788CYMUU  2014-07-17 20:00:00+02:00
     6               LJKS5NK6788CYMUU  2014-04-30 21:00:00+02:00
     7               36MFTZOYMTAJP1RK  2014-05-07 09:00:00+02:00
...                               ...                        ...
18   49991           5K17HYJQ6JG6UFU0  2018-12-24 07:00:00+01:00
     49999           5K17HYJQ6JG6UFU0  2018-01-29 13:00:00+01:00
     50011           E4K99D4JR9E40VE1  2018-06-03 07:00:00+02:00
     50013           E4K99D4JR9E40VE1  2018-03-18 09:00:00+01:00
     50015           E4K99D4JR9E40VE1  2018-02-01 21:00:00+01:00

                                                          Participants  \
year original index
14   2                                              ['Karen Stansell']
     3                                                ['Addie Patino']
     5               ['David Bishop' 'Susan Guerrero' 'Karen Stanse...
     6                               ['Susan Guerrero' 'David Bishop']
     7               ['Amanda Knowles' 'Cheryl Feaster' 'Ginger Hoa...
...                                                                ...
18   49991                                      ['Michelle Lachiatto']
     49999                                         ['Arleen Williams']
     50011                          ['Chester Mortimer' 'Robin Ramos']
     50013                          ['Robin Ramos' 'Chester Mortimer']
     50015                          ['Chester Mortimer' 'Robin Ramos']

                     Meal Price Type of Meal  Heroes Adjustment
year original index
14   2                    314.0        Lunch              False
     3                    438.0       Dinner              False
     5                    181.0       Dinner              False
     6                     14.0       Dinner              False
     7                    320.0    Breakfast              False
...                         ...          ...                ...
18   49991                640.0    Breakfast              False
     49999                563.0        Lunch              False
     50011                598.0    Breakfast              False
     50013                 25.0    Breakfast              False
     50015                497.0       Dinner              False

[50017 rows x 9 columns]

In [137]:
#Horizontal stakcing
#Appends rows; axis =1 refers to the vertical axis, axis = 0 refers to the horizontal axis
pd.concat([y_2014,y_2015,y_2016,y_2017,y_2018], axis = 1)

/usr/local/lib/python3.10/dist-packages/IPython/lib/pretty.py:700: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  output = repr(obj)
/usr/local/lib/python3.10/dist-packages/google/colab/_interactive_table_hint_button.py:162: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_html=dataframe._repr_html_(),

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment,Order Id,...,Heroes Adjustment,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AT0R4DFYYAFOC88Q,2014-07-21,W48JPR1UYWJ18NC6,LJKS5NK6788CYMUU,2014-07-17 20:00:00+02:00,['David Bishop' 'Susan Guerrero' 'Karen Stanse...,181.0,Dinner,False,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2DDN2LHS7G85GKPQ,2014-04-29,1MKLAKBOE3SP7YUL,LJKS5NK6788CYMUU,2014-04-30 21:00:00+02:00,['Susan Guerrero' 'David Bishop'],14.0,Dinner,False,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,FM608JK1N01BPUQN,2014-05-08,E8WJZ1FOSKZD2MJN,36MFTZOYMTAJP1RK,2014-05-07 09:00:00+02:00,['Amanda Knowles' 'Cheryl Feaster' 'Ginger Hoa...,320.0,Breakfast,False,NaN,...,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49991,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,CGPOTR0XW6FDEQQ1,2018-12-24,8K07A0E1NNRYG9OG,5K17HYJQ6JG6UFU0,2018-12-24 07:00:00+01:00,['Michelle Lachiatto'],640.0,Breakfast,False
49999,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,JOPTZ9VYV1RWPTW7,2018-02-01,I5EXQPTV5PK8PC3C,5K17HYJQ6JG6UFU0,2018-01-29 13:00:00+01:00,['Arleen Williams'],563.0,Lunch,False
50011,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,81J2RM0YM63VAT0K,2018-06-03,HNXSJZQ120WGAWZP,E4K99D4JR9E40VE1,2018-06-03 07:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],598.0,Breakfast,False
50013,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False
50015,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497.0,Dinner,False

In [139]:
#Merging - Load and Inspect new data
#Load some addition data
#Note the parse_dates? We need this to have consistenet types with invoices, otherwise the subsequent merges would throw errors
order_data = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/order_leads.csv',parse_dates=[3])
sales_team = pd.read_csv('https://raw.githubusercontent.com/FBosler/you-datascientist/master/sales_team.csv')

In [140]:
order_data.head()

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0

In [141]:
sales_team.head()

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,Jessie Mcallister,97UNNAT790E0WM4N,Chimera-Chasing Casbah,LJKS5NK6788CYMUU
1,Jessie Mcallister,97UNNAT790E0WM4N,Tangential Sheds,36MFTZOYMTAJP1RK
2,Jessie Mcallister,97UNNAT790E0WM4N,Two-Mile Grab,H3JRC7XX7WJAD4ZO
3,Jessie Mcallister,97UNNAT790E0WM4N,Three-Men-And-A-Helper Congo'S,HB25MDZR0MGCQUGX
4,Jessie Mcallister,97UNNAT790E0WM4N,Biophysical Battleground,7RVA8TIVBLBXMNO4

In [142]:
#Do a merge on the Order ID field
pd.merge(order_data,invoices, on = 'Order Id')

,Order Id,Company Id_x,Company Name,Date_x,Order Value,Converted,Date_y,Meal Id,Company Id_y,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],9.0,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],160.0,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497.0,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False

In [143]:
# Using inner join
pd.merge(order_data, invoices.rename(columns = {'Order Id': 'New id'}), left_on = 'Order Id', right_on = 'New id', how = 'inner')

,Order Id,Company Id_x,Company Name,Date_x,Order Value,Converted,New id,Date_y,Meal Id,Company Id_y,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment
0,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False
1,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False
2,041ORQM5OIHTIU6L,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-08-24,4185,0,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False
3,YT796QI18WNGZ7ZJ,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2014-04-12,5839,0,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False
4,6YLROQT27B6HRF4E,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-28,8841,0,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-20,110,0,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],9.0,Breakfast,False
50013,RR0VKJN8V0KHNKGG,E4K99D4JR9E40VE1,Fierce Productivity,2018-03-19,356,0,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False
50014,STJ6QJC30WPRM93H,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-21,2228,1,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],160.0,Dinner,False
50015,QHEUIYNC0XQX7GDR,E4K99D4JR9E40VE1,Fierce Productivity,2018-01-28,8869,0,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497.0,Dinner,False
50016,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False

Lookup Data frames

In [144]:
sales_team

,Sales Rep,Sales Rep Id,Company Name,Company Id
0,Jessie Mcallister,97UNNAT790E0WM4N,Chimera-Chasing Casbah,LJKS5NK6788CYMUU
1,Jessie Mcallister,97UNNAT790E0WM4N,Tangential Sheds,36MFTZOYMTAJP1RK
2,Jessie Mcallister,97UNNAT790E0WM4N,Two-Mile Grab,H3JRC7XX7WJAD4ZO
3,Jessie Mcallister,97UNNAT790E0WM4N,Three-Men-And-A-Helper Congo'S,HB25MDZR0MGCQUGX
4,Jessie Mcallister,97UNNAT790E0WM4N,Biophysical Battleground,7RVA8TIVBLBXMNO4
...,...,...,...,...
4720,Joel Woodbury,YBWRC1WQHXE895WV,Jammed-Together Stable,4JW3GG4YW52M86F5
4721,Joel Woodbury,YBWRC1WQHXE895WV,Laureate Barbital,R0KV9HJ7RIRRYSVG
4722,Hazel Dickerson,NIW73ZQMGEOB7BHT,Spotty Adoniram,5K17HYJQ6JG6UFU0
4723,Hazel Dickerson,NIW73ZQMGEOB7BHT,Physicochemical Impatience,FC1LJXHNH2883N3Y
4724,Hazel Dickerson,NIW73ZQMGEOB7BHT,Fierce Productivity,E4K99D4JR9E40VE1

In [145]:
order_data

,Order Id,Company Id,Company Name,Date,Order Value,Converted
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0
...,...,...,...,...,...,...
99995,4MFHIAQKH0HCACJM,E4K99D4JR9E40VE1,Fierce Productivity,2015-07-25,4851,0
99996,K1UP23P8SIY1YION,E4K99D4JR9E40VE1,Fierce Productivity,2015-08-24,7868,0
99997,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0
99998,OF79M3H9C44UM6PO,E4K99D4JR9E40VE1,Fierce Productivity,2015-10-29,2036,0
99999,EHN2QR78K2RX0FQ9,E4K99D4JR9E40VE1,Fierce Productivity,2015-03-07,7183,0

In [146]:
#Creates a lookup between Company Name and Sales Rep
#Create a lookup table
lookup = sales_team.set_index('Company Name')['Sales Rep']
order_data['Sales Rep'] = order_data['Company Name'].map(lookup)
order_data

,Order Id,Company Id,Company Name,Date,Order Value,Converted,Sales Rep
0,80EYLOKP9E762WKG,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2017-02-18,4875,1,Jessie Mcallister
1,TLEXR1HZWTUTBHPB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2015-07-30,8425,0,Jessie Mcallister
2,839FKFW2LLX4LMBB,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-05-27,4837,0,Jessie Mcallister
3,97OX39BGVMHODLJM,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2018-09-27,343,0,Jessie Mcallister
4,5T4LGH4XGBWOD49Z,LJKS5NK6788CYMUU,Chimera-Chasing Casbah,2016-01-14,983,0,Jessie Mcallister
...,...,...,...,...,...,...,...
99995,4MFHIAQKH0HCACJM,E4K99D4JR9E40VE1,Fierce Productivity,2015-07-25,4851,0,Hazel Dickerson
99996,K1UP23P8SIY1YION,E4K99D4JR9E40VE1,Fierce Productivity,2015-08-24,7868,0,Hazel Dickerson
99997,NKHFWT5I2J9LPAPG,E4K99D4JR9E40VE1,Fierce Productivity,2017-09-06,5138,0,Hazel Dickerson
99998,OF79M3H9C44UM6PO,E4K99D4JR9E40VE1,Fierce Productivity,2015-10-29,2036,0,Hazel Dickerson
99999,EHN2QR78K2RX0FQ9,E4K99D4JR9E40VE1,Fierce Productivity,2015-03-07,7183,0,Hazel Dickerson

Reshaping DataFrames (melt, pivot, transpose, stack,unstack)

In [147]:
#Transpose
invoices.head(7).T

,0,1,2,3,4,5,6
Order Id,839FKFW2LLX4LMBB,97OX39BGVMHODLJM,041ORQM5OIHTIU6L,YT796QI18WNGZ7ZJ,6YLROQT27B6HRF4E,AT0R4DFYYAFOC88Q,2DDN2LHS7G85GKPQ
Date,2016-05-27 00:00:00,2018-09-27 00:00:00,2014-08-24 00:00:00,2014-04-12 00:00:00,2015-07-28 00:00:00,2014-07-21 00:00:00,2014-04-29 00:00:00
Meal Id,INBUX904GIHI8YBD,J0MMOOPP709DIDIE,E4UJLQNCI16UX5CS,C9SDFHF7553BE247,48EQXS6IHYNZDDZ5,W48JPR1UYWJ18NC6,1MKLAKBOE3SP7YUL
Company Id,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU,LJKS5NK6788CYMUU
Date of Meal,2016-05-31 07:00:00+02:00,2018-10-01 20:00:00+02:00,2014-08-23 14:00:00+02:00,2014-04-07 21:00:00+02:00,2015-07-27 14:00:00+02:00,2014-07-17 20:00:00+02:00,2014-04-30 21:00:00+02:00
Participants,['David Bishop'],['David Bishop'],['Karen Stansell'],['Addie Patino'],['Addie Patino' 'Susan Guerrero'],['David Bishop' 'Susan Guerrero' 'Karen Stanse...,['Susan Guerrero' 'David Bishop']
Meal Price,469.0,22.0,314.0,438.0,690.0,181.0,14.0
Type of Meal,Breakfast,Dinner,Lunch,Dinner,Lunch,Dinner,Dinner
Heroes Adjustment,False,False,False,False,False,False,False

In [150]:
#Melt
#Looked for type of meal and did a mutation for meal price
melt_exp = pd.merge(
            invoices,
            pd.get_dummies(invoices['Type of Meal']).mul(invoices['Meal Price'].values, axis = 0),
            left_index = True,
            right_index = True
)
melt_exp

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Meal Price,Type of Meal,Heroes Adjustment,Breakfast,Dinner,Lunch
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],469.0,Breakfast,False,469.0,0.0,0.0
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],22.0,Dinner,False,0.0,22.0,0.0
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],314.0,Lunch,False,0.0,0.0,314.0
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],438.0,Dinner,False,0.0,438.0,0.0
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],690.0,Lunch,False,0.0,0.0,690.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],9.0,Breakfast,False,9.0,0.0,0.0
50013,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],25.0,Breakfast,False,25.0,0.0,0.0
50014,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],160.0,Dinner,False,0.0,160.0,0.0
50015,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],497.0,Dinner,False,0.0,497.0,0.0
50016,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],365.0,Lunch,False,0.0,0.0,365.0

In [151]:
del melt_exp['Type of Meal']
del melt_exp['Meal Price']
melt_exp

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Heroes Adjustment,Breakfast,Dinner,Lunch
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],False,469.0,0.0,0.0
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],False,0.0,22.0,0.0
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],False,0.0,0.0,314.0
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],False,0.0,438.0,0.0
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],False,0.0,0.0,690.0
...,...,...,...,...,...,...,...,...,...,...
50012,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],False,9.0,0.0,0.0
50013,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],False,25.0,0.0,0.0
50014,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],False,0.0,160.0,0.0
50015,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],False,0.0,497.0,0.0
50016,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],False,0.0,0.0,365.0

In [155]:
# pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None, ignore_index=True)[source]
# Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
# This function is useful to massage a DataFrame into a format where one or more columns are identifier variables (id_vars), while all other columns, considered measured variables (value_vars), are “unpivoted” to the row axis, leaving just two non-identifier columns, ‘variable’ and ‘value’.

pd.melt(
    frame = melt_exp,
    id_vars = ['Order Id', 'Date', 'Meal Id', 'Company Id', 'Date of Meal', 'Participants', 'Heroes Adjustment'],
    value_vars = ['Breakfast','Dinner','Lunch'],
    var_name = 'Type of Meal',
    value_name = 'Expenses'
)

,Order Id,Date,Meal Id,Company Id,Date of Meal,Participants,Heroes Adjustment,Type of Meal,Expenses
0,839FKFW2LLX4LMBB,2016-05-27,INBUX904GIHI8YBD,LJKS5NK6788CYMUU,2016-05-31 07:00:00+02:00,['David Bishop'],False,Breakfast,469.0
1,97OX39BGVMHODLJM,2018-09-27,J0MMOOPP709DIDIE,LJKS5NK6788CYMUU,2018-10-01 20:00:00+02:00,['David Bishop'],False,Breakfast,0.0
2,041ORQM5OIHTIU6L,2014-08-24,E4UJLQNCI16UX5CS,LJKS5NK6788CYMUU,2014-08-23 14:00:00+02:00,['Karen Stansell'],False,Breakfast,0.0
3,YT796QI18WNGZ7ZJ,2014-04-12,C9SDFHF7553BE247,LJKS5NK6788CYMUU,2014-04-07 21:00:00+02:00,['Addie Patino'],False,Breakfast,0.0
4,6YLROQT27B6HRF4E,2015-07-28,48EQXS6IHYNZDDZ5,LJKS5NK6788CYMUU,2015-07-27 14:00:00+02:00,['Addie Patino' 'Susan Guerrero'],False,Breakfast,0.0
...,...,...,...,...,...,...,...,...,...
150046,4OMS8ZSA0UX8LHWI,2017-09-20,1TD5MROATV1NHZ4Y,E4K99D4JR9E40VE1,2017-09-21 08:00:00+02:00,['Regina Shirley'],False,Lunch,0.0
150047,RR0VKJN8V0KHNKGG,2018-03-19,22EX9VZSJKHP4AIP,E4K99D4JR9E40VE1,2018-03-18 09:00:00+01:00,['Robin Ramos' 'Chester Mortimer'],False,Lunch,0.0
150048,STJ6QJC30WPRM93H,2017-09-21,LMX18PNGWCIMG1QW,E4K99D4JR9E40VE1,2017-09-22 21:00:00+02:00,['Robin Ramos'],False,Lunch,0.0
150049,QHEUIYNC0XQX7GDR,2018-01-28,4U0VH2TGQL30X23X,E4K99D4JR9E40VE1,2018-02-01 21:00:00+01:00,['Chester Mortimer' 'Robin Ramos'],False,Lunch,0.0
150050,NKHFWT5I2J9LPAPG,2017-09-06,ORWFRT5TUSYGNYG7,E4K99D4JR9E40VE1,2017-09-09 14:00:00+02:00,['Chester Mortimer' 'Robin Ramos'],False,Lunch,365.0

Pivot

In [158]:
import numpy as np
pd.pivot_table(
    invoices,
    index = ['Company Id'],
    columns = ['Type of Meal'],
    values = 'Meal Price',
    aggfunc = np.mean,
    margins = True
)

Type of Meal       Breakfast      Dinner       Lunch         All
Company Id
007RF0BCBVMXTL80  301.666667  453.000000  112.000000  373.500000
00CVEIVO8C92FFBO  346.500000  425.000000  426.428571  403.285714
00OFNRZV8983KC3L  571.500000  665.333333  357.000000  550.428571
00R1H0DBLAVXHOTZ  778.000000  332.333333  694.200000  582.888889
00WJ866YXWT58K2S  392.166667  342.666667  383.600000  378.500000
...                      ...         ...         ...         ...
ZZ99YI36NDHV7ELT  672.000000  341.000000  401.200000  504.000000
ZZD813K8WK65MND6  339.000000   82.000000  276.333333  250.000000
ZZY3WSHGJWPKJBCV  448.571429  351.428571  511.333333  419.647059
ZZYB9JLJKXRH7U6O  729.000000  336.000000  149.000000  480.636364
All               404.625338  400.073093  405.087956  403.256233

[4726 rows x 4 columns]

Groupby

In [159]:
temp = invoices.groupby(['Company Id', 'Type of Meal', 'Heroes Adjustment']).agg({'Meal Price':np.mean})
temp.unstack()

                               Meal Price
Heroes Adjustment                   False True
Company Id       Type of Meal
007RF0BCBVMXTL80 Breakfast     301.666667   NaN
                 Dinner        453.000000   NaN
                 Lunch         112.000000   NaN
00CVEIVO8C92FFBO Breakfast     346.500000   NaN
                 Dinner        425.000000   NaN
...                                   ...   ...
ZZY3WSHGJWPKJBCV Dinner        351.428571   NaN
                 Lunch         511.333333   NaN
ZZYB9JLJKXRH7U6O Breakfast     729.000000   NaN
                 Dinner        336.000000   NaN
                 Lunch         149.000000   NaN

[14175 rows x 2 columns]

In [162]:
stack_test = invoices.groupby(['Company Id', 'Type of Meal']).agg({'Meal Price': [max, min, np.mean], 
                                                                   'Date of Meal':[max, min]
})
stack_test

                              Meal Price                     \
                                     max    min        mean
Company Id       Type of Meal
007RF0BCBVMXTL80 Breakfast         545.0   74.0  301.666667
                 Dinner            729.0  156.0  453.000000
                 Lunch             112.0  112.0  112.000000
00CVEIVO8C92FFBO Breakfast         606.0  142.0  346.500000
                 Dinner            631.0  234.0  425.000000
...                                  ...    ...         ...
ZZY3WSHGJWPKJBCV Dinner            826.0   93.0  351.428571
                 Lunch             763.0  332.0  511.333333
ZZYB9JLJKXRH7U6O Breakfast         919.0  341.0  729.000000
                 Dinner            564.0  244.0  336.000000
                 Lunch             207.0   91.0  149.000000

                                            Date of Meal  \
                                                     max
Company Id       Type of Meal
007RF0BCBVMXTL80 Breakfast     2015-09-17 08:00:00+02:00
                 Dinner        2018-09-25 22:00:00+02:00
                 Lunch         2015-11-27 13:00:00+01:00
00CVEIVO8C92FFBO Breakfast     2016-11-10 07:00:00+01:00
                 Dinner        2017-11-19 22:00:00+01:00
...                                                  ...
ZZY3WSHGJWPKJBCV Dinner        2018-05-18 22:00:00+02:00
                 Lunch         2017-06-08 13:00:00+02:00
ZZYB9JLJKXRH7U6O Breakfast     2018-12-16 07:00:00+01:00
                 Dinner        2016-02-07 20:00:00+01:00
                 Lunch         2018-08-14 14:00:00+02:00


                                                     min
Company Id       Type of Meal
007RF0BCBVMXTL80 Breakfast     2014-01-10 08:00:00+01:00
                 Dinner        2014-12-29 21:00:00+01:00
                 Lunch         2015-11-27 13:00:00+01:00
00CVEIVO8C92FFBO Breakfast     2015-01-17 08:00:00+01:00
                 Dinner        2015-06-21 22:00:00+02:00
...                                                  ...
ZZY3WSHGJWPKJBCV Dinner        2014-11-29 21:00:00+01:00
                 Lunch         2016-05-13 13:00:00+02:00
ZZYB9JLJKXRH7U6O Breakfast     2014-01-19 07:00:00+01:00
                 Dinner        2014-05-11 21:00:00+02:00
                 Lunch         2018-03-04 13:00:00+01:00

[14175 rows x 5 columns]